{% extends 'default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h1>Найти новость ({{ postsearch|length }} шт.)</h1>
<h3>Сегодня {{ time_now|date:'d M Y' }} </h3>
<hr>
<form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
</form>
{% if postsearch %}
<table>
    <tr>
        <td> Заголовок статьи</td>
        <td> Дата создания</td>
        <td> Превью</td>
    </tr>
    {% for post in postsearch %}
    <tr>
        <td><a class="nav-link" href="/news/{{ post.id }}" style="color: blue">{{ post.title }}</a></td>
        <td>{{ post.time_create|date:'d M Y' }}</td>
        <td>{{ post.text|truncatechars:20 }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2> Новостей нет! </h2>
{% endif %}

{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
{% endblock content %}