{% extends 'default.html' %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
    <h1>Все новости ({{ posts|length }} шт.)</h1>
    <h3>{{time_now|date:'d M Y'}}</h3>
    <hr>
    {% if posts %}
        <table>
            <tr>
                <td> Заголовок статьи </td>
                <td> Дата создания </td>
                <td> Превью </td>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.time_create|date:'d M Y' }}</td>
                <td>{{ post.text|truncatechars:20 }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <h2> Новостей нет! </h2>
    {% endif %}
{% endblock content %}